header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10vw;
    box-shadow: 0px 0px 10px var(--shadow);
}

li,a,button{
    font-weight: 600;
    font-size:16px;
    color: var(--text);
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.nav_links{
    display: inline-block;
}

.nav_links li{
    display: inline-block;
    padding: 0 3vw; 
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: var(--link);
}

.button button:nth-child(3n+1){
    color: var(--text);
    border: none;
    transition: all 0.3s ease 0s;
}
.button button:nth-child(3n+1):hover{
    color: var(--hover);
}
.vertical-line{
    background-color: var(--span);
    transform: translateY(25%);
    min-height: 25px;
    width: 0.15vw;
    height: 3vh;
    display: inline-block;
}
.button button:nth-child(3){
    color: var(--background);
    background-color: var(--link);
    border-radius: 9px;
    padding: 0.6vh 0.7vw;
    border: none;
}