@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
    --text:#222222;
    --shadow:hsla(238, 100%, 82%, 0.1);
    --link:#6C63FF;
    --hover:#0423C7;
    --background:#FAFFFF;
    --span:rgba(34,34,34, 0.1);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow: hidden;
}
li,a,button{
    font-weight: 600;
    font-size:16px;
    color: var(--text);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10vw;
    box-shadow: 0px 0px 10px var(--shadow);
}


.logo{
    cursor: pointer;
}

.nav_links{
    display: inline-block;
}

.nav_links li{
    display: inline-block;
    padding: 0 3vw; 
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: var(--link);
}

.button button:nth-child(3n+1){
    color: var(--text);
    border: none;
    transition: all 0.3s ease 0s;
}
.button button:nth-child(3n+1):hover{
    color: var(--hover);
}
.vertical-line{
    background-color: var(--span);
    transform: translateY(25%);
    min-height: 25px;
    width: 0.15vw;
    height: 3vh;
    display: inline-block;
}
.button button:nth-child(3){
    color: var(--background);
    background-color: var(--link);
    border-radius: 9px;
    padding: 0.6vh 0.7vw;
    border: none;
}
main{
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
}
.main_content{
    flex: 0.5;
}
.main_content h1{
    font-size: 4vw;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 2vh;
}
.main_content p{
    margin-top: 5vh;
    font-size: 1.5vw;
    color: var(--text);
    line-height: 2vw;
}
.main_content a button{
    color: var(--background);
    background-color: var(--link);
    font-size: 1.5vw;
    text-decoration: none;
    border-radius: 20px;
    padding: 3.2vh 2.5vw;
    margin-top: 5vh;
    border: none;
}
.main_img{
    flex: 0.5;
    display: flex;
}

.main_img img{
    background-color: none;
    width: 50vw;
    height: 75vh;
}